cap1_dominando_a_linguagem_de_programacao_java/aprendendo_a_sintaxe_java/bin/edu/thiago/s3_operadores/.vscode/settings.json
cap1_dominando_a_linguagem_de_programacao_java/aprendendo_a_sintaxe_java/src/edu/thiago/s3_operadores/.vscode/settings.json
cap1_dominando_a_linguagem_de_programacao_java/aprendendo_a_sintaxe_java/s1-anatomia-das-classes/.vscode/settings.json
cap1_dominando_a_linguagem_de_programacao_java/aprendendo_a_sintaxe_java/s2-tipos-e-variaveis/.vscode/settings.json
cap1_dominando_a_linguagem_de_programacao_java/aprendendo_a_sintaxe_java/s3-operadores/.vscode/settings.json
cap1_dominando_a_linguagem_de_programacao_java/aprendendo_a_sintaxe_java/s4-metodos/.vscode/settings.json
cap1_dominando_a_linguagem_de_programacao_java/aprendendo_a_sintaxe_java/s4-sistema-smart-tv/.vscode/settings.json
