cap1_dominando_a_linguagem_de_programacao_java/aprendendo_a_sintaxe_java/bin/edu/thiago/s3_operadores/.vscode/settings.json
cap1_dominando_a_linguagem_de_programacao_java/aprendendo_a_sintaxe_java/src/edu/thiago/s3_operadores/.vscode/settings.json
